body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    background-color: rgb(180, 201, 194);
}

.header{
    height: 5em;
    padding: 5em;
    font-size: 2em;
    background-image: url("../imgs/fondo2.jpg");
    background-size: cover;
    background-position: center;
}
.header h1{
margin: 0px;
font-weight: 400;
}

.products{
    width: 80%;
    margin: auto;
}

.products td {
    width: 50%;
    padding: 2em;
}
.products img{
    width: 100%;
    border: 1 px solid #ddd; 
    border-radius: 20%;
   
}
.footer{
    height: 3em;
    line-height: 3em;
    background-color: rgb(18, 211, 53);
    color: white;
    text-align: center;
    font-weight: 900;
    }
